[submodule "src/ImageStreamIO"]
	path = src/ImageStreamIO
	url = git@github.com:asgardner/ImageStreamIO.git
[submodule "plugins/chai-src"]
	path = plugins/chai-src
	url = git@gitlab.com:mmtao/chai-src.git
[submodule "plugins/milkzmq/milkzmq"]
	path = plugins/milkzmq/milzmq
	url = git@github.com:asgardner/milkzmq.git
[submodule "plugins/libtar/libtar"]
	path = plugins/libtar/libtar
	url = git@gitlab.com:asgardner/libtar.git
[submodule "plugins/xrif/xrif"]
	path = plugins/xrif/xrif
	url = https://github.com/jaredmales/xrif.git
