[submodule "src/ImageStreamIO"]
	path = src/ImageStreamIO
	url = git@github.com:asgardner/ImageStreamIO.git
[submodule "plugins/chai-src"]
	path = plugins/chai-src
	url = git@gitlab.com:mmtao/chai-src.git
[submodule "plugins/milk-zmq/milk-zmq"]
	path = plugins/cacao-addons/milk-zmq
	url = git@github.com:asgardner/milkzmq.git
[submodule "plugins/xrifa/xrifa"]
	path = plugins/cacao-addons/xrif
	url = git@github.com:asgardner/xrif.git
[submodule "plugins/mxlib/mxlib"]
	path = plugins/cacao-addons/mxlib
	url = git@github.com:asgardner/mxlib.git
[submodule "plugins/cacao-addons/rtimv"]
	path = plugins/cacao-addons/rtimv
	url = git@github.com:asgardner/rtimv.git
[submodule "plugins/mmtao-main/mmtao-main"]
	path = plugins/mmtao-main/mmtao-main
	url = git@gitlab.com:mmtao/mmtao-main.git
[submodule "plugins/indiproxy2/indiproxy2"]
	path = plugins/indiproxy2/indiproxy2
	url = git@gitlab.com:mmtao/indiproxy2.git
