[submodule "src/ImageStreamIO"]
	path = src/ImageStreamIO
	url = git@github.com:asgardner/ImageStreamIO.git
[submodule "plugins/chai-src"]
	path = plugins/chai-src
	url = git@gitlab.com:mmtao/chai-src.git
[submodule "plugins/libtar/libtar"]
	path = plugins/libs/libtar
	url = git@gitlab.com:asgardner/libtar.git
[submodule "plugins/milk-zmq/milk-zmq"]
	path = plugins/cacao-addons/milk-zmq
	url = git@github.com:asgardner/milkzmq.git
[submodule "plugins/xrifa/xrifa"]
	path = plugins/cacao-addons/xrif
	url = git@github.com:asgardner/xrif.git
[submodule "plugins/mxlib/mxlib"]
	path = plugins/cacao-addons/mxlib
	url = git@github.com:asgardner/mxlib.git
[submodule "plugins/cacao-addons/rtimv"]
	path = plugins/cacao-addons/rtimv
	url = git@github.com:asgardner/rtimv.git
[submodule "plugins/cacao-src"]
	path = plugins/cacao-src
	url = https://github.com/cacao-org/cacao
[submodule "plugins/milk-extra-src/clustering"]
	path = plugins/milk-extra-src/clustering
	url = https://github.com/milk-org/clustering
[submodule "plugins/milk-extra-src/fft"]
	path = plugins/milk-extra-src/fft
	url = https://github.com/milk-org/fft
[submodule "plugins/milk-extra-src/ZernikePolyn"]
	path = plugins/milk-extra-src/ZernikePolyn
	url = https://github.com/milk-org/ZernikePolyn
[submodule "plugins/milk-extra-src/image_basic"]
	path = plugins/milk-extra-src/image_basic
	url = https://github.com/milk-org/image_basic
[submodule "plugins/milk-extra-src/image_filter"]
	path = plugins/milk-extra-src/image_filter
	url = https://github.com/milk-org/image_filter
[submodule "plugins/milk-extra-src/image_format"]
	path = plugins/milk-extra-src/image_format
	url = https://github.com/milk-org/image_format
[submodule "plugins/milk-extra-src/image_gen"]
	path = plugins/milk-extra-src/image_gen
	url = https://github.com/milk-org/image_gen
[submodule "plugins/milk-extra-src/img_reduce"]
	path = plugins/milk-extra-src/img_reduce
	url = https://github.com/milk-org/img_reduce
[submodule "plugins/milk-extra-src/info"]
	path = plugins/milk-extra-src/info
	url = https://github.com/milk-org/info
[submodule "plugins/milk-extra-src/kdtree"]
	path = plugins/milk-extra-src/kdtree
	url = https://github.com/milk-org/kdtree
[submodule "plugins/milk-extra-src/linARfilterPred"]
	path = plugins/milk-extra-src/linARfilterPred
	url = https://github.com/milk-org/linARfilterPred
[submodule "plugins/milk-extra-src/linopt_imtools"]
	path = plugins/milk-extra-src/linopt_imtools
	url = https://github.com/milk-org/linopt_imtools
[submodule "plugins/milk-extra-src/psf"]
	path = plugins/milk-extra-src/psf
	url = https://github.com/milk-org/psf
[submodule "plugins/milk-extra-src/statistic"]
	path = plugins/milk-extra-src/statistic
	url = https://github.com/milk-org/statistic
